<!DOCTYPE html>
<html>

<head>
  <title>Sobre</title>
  <link rel="icon" href="../frontend/img/weather.png">
  <link rel="stylesheet" href="../frontend/css/style.css" />
</head>

<body>
  <div class="main-content">
    {{>header}}
    <p>Esse site foi criado por Tales Leão e usa como fonte de dados o mapbox.com e o darksky.net!</p>
    <img class='portrait' src="../frontend/img/tales.jpg" />
  </div>
  {{>footer}}
</body>

</html>