<!DOCTYPE html>
<html>

<head>
  <title>Clima</title>
  <link rel="icon" href="../frontend/img/weather.png">
  <link rel="stylesheet" href="../frontend/css/style.css" />
</head>

<body>
  <div class='main-content'>
    {{>header}}
    <p>Digite o nome da cidade para saber o clima atual!</p>
    <form>
      <input placeholder='cidade'>
      <button>procurar</button>
    </form>
    <p id='message-1'></p>
    <p id='message-2'></p>
  </div>

  {{>footer}}
  <script src="../frontend/js/app.js"></script>
</body>

</html>